# Arquivos compilados e caches
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.sqlite3
*.env

# Configurações do ambiente virtual
env/
venv/
ENV/
.VENV/

# Banco de dados local (se usar SQLite, por exemplo)
db.sqlite3

# Ignorar todos os arquivos dentro de pastas migrations
*/migrations/*

# Exceto o arquivo __init__.py
!*/migrations/__init__.py

# Arquivos estáticos coletados
staticfiles/
static/

# Arquivos de mídia carregados por usuários
media/

# Arquivos de configurações locais de IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos de ferramentas de dependências
Pipfile.lock
poetry.lock

# Arquivos gerados pelo Docker
*.pid
docker-compose.override.yml

# Arquivos gerados pelo Coverage.py
.coverage
htmlcov/

# Arquivos gerados por testes
*.test.db
*.cover

# Arquivos do mypy
.mypy_cache/
.dmypy.json
